# --- Archivos del Sistema y Entorno ---
.env
.env.backup
.env.production
.DS_Store
Thumbs.db
auth.json
Homestead.json
Homestead.yaml

# --- Carpetas de Dependencias y Build ---
/node_modules
/vendor
/public/build
/public/hot
/public/storage

# --- IDEs y Herramientas ---
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.phpunit.cache
.phpunit.result.cache
.phpactor.json

# --- Logs y Framework ---
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/debugbar/*.json
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

# --- REGLA MAESTRA PARA STORAGE/APP (Lo más importante para ti) ---
# Primero, ignoramos absolutamente todo en app
/storage/app/**/*

# Luego, permitimos carpetas públicas y archivos de control
!/storage/app/public/
!/storage/app/public/**/*
!/storage/app/.gitignore
!/storage/app/public/.gitignore

# Si quieres que la carpeta 'private' exista en el servidor pero esté vacía:
!/storage/app/private/
!/storage/app/private/.gitignore

/storage/framework/views/*.php
/storage/framework/cache/data/*
/storage/framework/sessions/*

docker-compose.yml
Dockerfile
